supervisely[training]==6.73.567
supervisely[model-benchmark]==6.73.567

--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.11.0+cu128
torchvision==0.26.0+cu128
onnx==1.21.0
onnxruntime-gpu==1.26.0
onnxslim==0.1.82
tensorrt-cu12==10.16.1.11
tensorboard==2.20.0
ultralytics==8.4.6
